@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');



:root {

    --color-primario: rgb(52, 140, 255);
    --color-secundario: rgb(0, 58, 120);
    --orange:rgb(255, 145, 0);
    --blanco: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Quicksand;
}

header {
	background-color: rgb(0, 58, 120);
	color: #fff;
	padding: 10px 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
  	width: 100%;
  	z-index: 10000;
}

header a {
	text-decoration: none;
	font-size: 30px;
	color: #fff;
}

.menu-header {
	display: flex;
	gap: 35px;
	align-items: center;
}

.menu-header button {
	border: none;
	background: none;
	outline: none;
	width: 45px;
	height: 45px;
	color: #fff;
	font-size: 22px;
	position: relative;
	cursor: pointer;
}

.menu-header button:hover {
	transform: scale(1.05);
}

.counter-favorite,
.counter-cart {
	font-size: 10px;
	position: absolute;
	background-color: rgb(255, 255, 255);
	color: #000;
	font-weight: 700;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	right: 0;
	border-radius: 50%;
}
/* div de relevancia-mayor-menor */

.ordenarContain {

	display: flex;
	width: 100%;
	justify-content: flex-end;
	margin: 1rem 2rem ;
}
  
.ordenar{
	 display: flex;
	 justify-content: end;
	 margin: 0rem 4rem 1rem 1rem;
	 width: 20%;
} 
 
#desplegar{
	visibility: unset;
	margin-left: 0.5rem;
}

#container {
	display: flex;
	margin-left: auto;
	width: 100%;
}
  
.container-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 200px; /* Ancho de .category */
	position: relative;
}
  
.container-products {

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin: 30px;
	gap: 5px;
}

.category {
	position: fixed;
	top: 100px; 
	left: 0;
	width: 200px;
	height: auto;
	padding: 20px;
	overflow: scroll;
	z-index: 101;
}

.labels {

	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.labels label {

	width: 100%;
}

.categoriesLabels label{

	margin: 0.2rem;
}

.sub {

	display: none;
}

.sizeLabels {

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 1rem 0;
}

.SizeLabels label{

	margin: 0.2rem;
}

.mostrar {

	display: block;
}

.rotate {

	transform: rotate(180deg);
	transition: transform 0.3s ease;
}

.sizeLabels label input {

	width: 1.1rem;
	height: 1.1rem;
}

.titleCategory, .titleSize, .brandTitle {

	display: flex;
	align-items: center;
	padding: 0.6rem 0;
	gap: 0.5rem;
}

.titleSize:hover, .titleCategory:hover {

	cursor: pointer;
}

.arrowCategory {
	transition: transform 0.3s ease-in-out;
	display: flex;
	align-items: flex-end;
}

.arrowSize {
	transition: transform 0.3s ease-in-out;;
}

.card-product {
	display: flex;
	flex-direction: column;
	gap: 20px;
	cursor: pointer;
}

.content-card-product {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px 25px;	
}

.content-card-product h3 {

	font-size: 18px;
	font-weight: 600;
}

.card-product:hover {
	margin: 10px; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
	transition: all 0.2s ease-in-out; 
}

.container-img {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	overflow: hidden;
	position: relative;
	background-color: #f8f6f6;
	
}

.container-img img {
	width: 75%;
	height: 80%;
	object-fit: cover;
}

.comparisonProducts {

	position: fixed;
	display: none;
	width: 65%;
	margin: auto;
	top: 4rem;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(17, 152, 255);
	border-radius: 1rem;
	z-index: 1000;
	overflow: hidden;
}

.close-button {
	position: absolute;
	text-align: center;
	font-weight: 600;
	top: 10px;
	right: 10px;
	font-size: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #000;
	background-color: white;
	padding: 0.1rem 0.5rem;
	border-radius: 50%;
  }

  .firstProduct {

	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.firstProduct img {

	width: 80%;
	height: 18rem;
	object-fit: cover;
	border-radius: 1rem;
	background-color: #f8f6f6;
}

.firstProduct .infoComparison {

	display: flex;
	flex-direction: column;
	align-items: center;
}

.firstProduct .infoComparison h3 {

	font-size: 2.0rem;
}

.firstProduct .footerComparison {

	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.firstProduct .footerComparison a {

	text-align: center;
	width: 100%;
	background-color: white;
	color: rgb(0, 132, 255);
	font-weight: 800;
	padding: 1rem 0;
	margin: 2rem;
	border-radius: 1rem;
}

.firstProduct .footerComparison a:hover {

	cursor: pointer;
	
}

.comparatedProduct1 {

	width: 50%;
}

.card-product .comparison {

	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	width: 20px;
	height: auto;
	margin: 0.5rem 1rem;
}

.active {

	background-color: rgb(0, 136, 255);
	border-radius: 50%;
}

.footer-card-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px;
}

.price {
	font-weight: 400;
	font-size: 16px;
	color: #000000;
}

.container-buttons-card {
	display: flex;
	gap: 20px;
}

.container-buttons-card button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 15px #00000025;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 18px;
}

/* ********************************** */
/*         LISTA DE FAVORITOS         */
/* ********************************** */
.container-list-favorites {
	position: fixed;
	top: 0;
	right: 0;
	transform: translateX(400px);
	background-color: #555;
	opacity: 0;
	width: 400px;
	height: 100vh;
	transition: all 0.5s linear;
	z-index: 101;
}

.container-list-favorites.show {
	opacity: 1;
	transform: translateX(0);
}

.header-favorite {
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-favorite i {
	cursor: pointer;
}

.list-favorites {
	padding: 35px 20px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.list-favorites .card-favorite {
	width: 100%;
	position: relative;
	background-color: #fff;
	box-shadow: 0px 0px 20px #00000065;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 0, 0, 0.5);
	border-radius: 50%;
    color: white;
    border: none;
    cursor: pointer;
	z-index: 1000;
}

.card-favorite .title {
	color: #000;
	flex: 1;
}

.card-favorite p:last-child {
	font-weight: 700;
	font-size: 22px;
	color: #000;
}

#added-favorite {
	color: red;
	display: none;
}

#favorite-regular.active {
	background-color: red;
	display: none;
}

#added-favorite.active {
	display: block;
	color: red;
}

.visible {
  display: block;
}

.comprar{
	width: 100%;
	height: 3.5rem;
	background-color: var(--color-primario);
	border-radius: 2rem;
	color: white;
	font-weight: 800;
	cursor: pointer;
	border: none;
	box-shadow: 1px 1px 10px 1px white;
}